/* Webfont: MahoganyRegular */@font-face {
    font-family: 'Mahogany';
    src: url('Mahogany.woff2') format('woff2'), /* Modern Browsers */
         url('Mahogany.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

