@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
}

#nav-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px;
}

.nav-button {
  align-items: center;
  border: 1px solid black;
  width: 175px;
  min-height: 175px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.nav-button a {
  text-align: center;
  margin: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + section {
padding-top: 300  px;
}

.scroll-header {
  scroll-margin-top: 200px;
}

section {
  background-color: #f1f1f1;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  #nav-container {
    flex-direction: column;
    gap: 10px;
  }
  .nav-button {
    width: 100%;
    min-height: 0px;
  }
  
}